@model WebTasks1a9NewProject.Models.Exec2

@{
    ViewData["Title"] = "Create";
}

<h1>Exercicio 2</h1>
<br />
<h3>Solução Console</h3>
<hr />

<pre id="demo" style="display:none">
<code>
            using System;

            namespace Exercicio2
            {
                class Program
                {
                    static void Main(string[] args)
                    {
                        /*
                        Ex 2 Desenvolva um algoritmo que permita a entrada do nome do usuário e exiba na tela.
                        */
                        Console.WriteLine("Qual é o seu nome:");
                        var i = Console.ReadLine();
                        Console.WriteLine($"O seu nome é {i}");
                    }
                }
            }
        </code>
    </pre>
<div>
    <button type="button" class="btn btn-light" onclick="document.getElementById('demo').style.display='block'"> Mostrar Código </button>
    <button type="button" class="btn btn-light" onclick="document.getElementById('demo').style.display='none'"> Esconder Código </button>
</div>

<br />
<br />
<br />
<br />

<h3>Solução Web</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pergunta" class="control-label"></label>
                <input asp-for="Pergunta" class="form-control" />
                <span asp-validation-for="Pergunta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RespostaEx2" class="control-label"></label>
                <input asp-for="RespostaEx2" class="form-control" disabled />
                <span asp-validation-for="RespostaEx2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
