@model WebTasks1a9NewProject.Models.Exec8

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ReceberNome" class="control-label"></label>
                <input asp-for="ReceberNome" class="form-control" />
                <span asp-validation-for="ReceberNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceberEmail" class="control-label"></label>
                <input asp-for="ReceberEmail" class="form-control" />
                <span asp-validation-for="ReceberEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceberRG" class="control-label"></label>
                <input asp-for="ReceberRG" class="form-control" />
                <span asp-validation-for="ReceberRG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponderAoUser" class="control-label"></label>
                <input asp-for="ResponderAoUser" class="form-control" disabled/>
                <span asp-validation-for="ResponderAoUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MostrarAoUser" class="control-label"></label>
                <input asp-for="MostrarAoUser" class="form-control" disabled/>
                <span asp-validation-for="MostrarAoUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
